@font-face {
    font-family: 'Poppins-Black' ;
    src: url(../fonts/FZ\ Poppins-Black.ttf);  
}

@font-face {
    font-family: 'Poppins-Bold' ;
    src: url(../fonts/FZ\ Poppins-Bold.ttf);  
}
@font-face {
    font-family: 'Poppins-Bold' ;
    src: url(../fonts/FZ\ Poppins-Bold.ttf);  
}
@font-face {
    font-family: 'Poppins-ExtraLight' ;
    src: url(../fonts/FZ\ Poppins-ExtraLight.ttf);  
}
@font-face {
    font-family: 'Poppins-BoldItalic' ;
    src: url(../fonts/FZ\ Poppins-BoldItalic.ttf);  
}

@font-face {
    font-family: 'Poppins-ExtraLight' ;
    src: url(../fonts/FZ\ Poppins-ExtraLight.ttf);  
}
@font-face {
    font-family: 'Poppins-BlackItalic' ;
    src: url(../fonts/FZ\ Poppins-BlackItalic.ttf);  
}
@font-face {
    font-family: 'Poppins-ExtraLightItalic' ;
    src: url(../fonts/FZ\ Poppins-ExtraLightItalic.ttf);  
}

@font-face {
    font-family: 'Poppins-Italic' ;
    src: url(../fonts/FZ\ Poppins-Italic.ttf);  
}

@font-face {
    font-family: 'Poppins-Medium' ;
    src: url(../fonts/FZ\_Poppins-Medium.ttf);  
}


@font-face {
    font-family: 'Poppins-ExtraLight' ;
    src: url(../fonts/FZ\ Poppins-Italic.ttf);  
}
@font-face {
    font-family: 'Poppins-Italic' ;
    src: url(../fonts/FZ\ Poppins-BoldItalic.ttf);  
}