/* HERO SECTION  */
.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); */
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 2rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.header-with-box-shadow {
  background-color: rgba(0, 130, 148, 0.4);
  box-shadow: rgba(229, 229, 229, 0.1) 0px 1px 1px 0px inset,
    rgba(214, 214, 222, 0.25) 0px 50px 100px -20px,
    rgba(183, 182, 182, 0.3) 0px 30px 60px -30px;
}

.container_header {
  width: 80%;
  display: flex;
  margin: auto;
  align-content: center;
}

.logo_img {
  width: 12.7rem;
  height: 3.7rem;
}
.header_nav {
  width: 50rem;
  margin-left: 6.4rem;
}
.header_nav-list {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header_nav-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
}

.header_nav-item a {
  text-decoration: none;
  color: var(--white-color);
  position: relative;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.header_nav-item a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-light-aquamarine);
  transition: width 0.3s ease;
}

.header_nav-item a:hover {
  /* font-weight: bold; */
  background-color: transparent;
}
.header_nav-item a:hover::before {
  width: 100%;
}

.header_button {
  display: flex;
  font-size: 1.4rem;
  margin-left: auto;
}

.header_button-signup {
  font-size: 1.4rem;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  background: linear-gradient(
    to right,
    var(--primary-light-aquamarine) 50%,
    rgba(255, 255, 255, 0) -50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.header_button-signup:hover {
  border: transparent;
  background-position: left bottom;
  background-color: transparent;
  color: rgb(254, 253, 253);
}

.hamburger-menu {
  margin-top: 2rem;
  height: 5rem;
  background-color: #f1f1f1;
  padding: 1rem;
  display: none;
  cursor: pointer;
  border-radius: 1rem;
  z-index: 999;
  margin-left: auto;
}

.bar {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--primary-light-aquamarine);
  transition: 0.4s;
  border-radius: 0.2rem;
}

.hero_section_main {
  display: flex;
  /* width: 70%; */
  justify-content: space-between;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
  background-position: center;
  background-size: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner .content{
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.banner .content h1{
  margin-top: 8rem;
  font-size: 8rem;
  font-weight: 800;
  line-height: 10rem;
  -webkit-text-stroke: 0.2rem #ffffff;
  -webkit-background-clip: text;
          background-clip: text;
  display: inline-block;
  color: transparent;
  text-align: center;
}
.banner button{
  width: 20rem;
  padding: 1.5rem;
  margin: 2rem 0.5rem;
  text-align: center;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  border: 0.1rem solid white;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 60rem;
  background-color: transparent;
}
.banner button:hover{
  background: rgb(0, 192, 226);
  transition: 0.5s;
}
.banner button:hover{
  color: white;
}
.banner video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media(min-aspect-ratio: 16/9){
  .banner video{
      width: 100%;
      height: auto;
  }
}

/* DISTINATIONS  */

.distinations_container {
  width: 80%;
  margin: auto;
  margin-top: 10rem;
}
.distinations_container_content {
  max-width: 40rem;
}
.distinations_container_content p:first-child {
  letter-spacing: 1rem;
  font-weight: bold;
}


.distination_item 
{
    padding-top:12rem ;
    position:relative;
    height: auto;
    /* background: #fafafa; */
    display: flex;
    opacity: 0;
    justify-content: space-between;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}
.distination_item:nth-child(2n +1) 
{
    flex-direction: row-reverse;
}

.distination_item.show {
    transform: translateY(0);
    opacity: 1; /* Hiện .distination_item khi được cuộn đến */
}
.distination_item .imgBx
{
    position: sticky;
    top: 8.5rem;
    min-width: 50%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: start;
    animation: fadeIn 0.5s ease forwards;
}
.distination_item:nth-child(2n)  .imgBx {
  justify-content: start;

}
.distination_item .imgBx img{
    max-width: 50rem;
    border-radius: 2rem;
}
.distination_item:nth-child(2n) .imgBx img {
    right: 10%;
}

.distination_item .line_list img {
    width: 2.5rem;
    height: auto;
}
.distination_item .content
{
   margin-bottom: 50rem;
   padding: 0.3rem;
}
.content h2{
  margin-top: -1rem;

}
.content .content_list{
    position: relative;
    margin-top: 2rem;
}
.content .content_list_text img {
    position: absolute;
    right: -2.5rem;
    width: 2rem;
    height: 2rem;
}
.content .content_list_text p:hover {
  transition: all 0.7s ease-out;
  color: var(--primary-light-aquamarine);
}

.distination_item:nth-child(2n) .content .content_list .content_list_text img {
    position: absolute;
    left: -2.5rem;
}
.content_list .content_list_text {
    margin: 3rem 0 3rem 0;
}
.distination_item:nth-child(2n + 1) .content {
    text-align: right;
    margin-left: auto;
}

/* foods  */

.foods_section_container {
  padding-top: 10rem;
  width: 80%;
  margin: auto;
}

.foods_container_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foods_container_content .content_left {
  max-width: 40rem;
}

.foods_container_content .content_left p:first-child {
  letter-spacing: 1rem;
  font-weight: bold;
}

.foods_container_content .content_right {
  color: var(--primary-light-aquamarine);
  text-decoration: underline;
  font-size: 1.4rem;
}

.foods_list_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  margin-top: 10rem;
  gap: 2rem;
}

.foods_card_item {
  margin-top: 5rem;
  width: 100%;
  box-shadow: rgba(229, 229, 229, 0.1) 0px 1px 1px 0px inset,
  rgba(214, 214, 222, 0.25) 0px 50px 100px -20px,
  rgba(183, 182, 182, 0.3) 0px 30px 60px -30px;
}
.foods_card_item .card_item_img {
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  overflow: hidden;
}
.foods_card_item .card_item_img img {
  width: 100%;
  overflow: hidden;
  height: 16rem;
  transition: all 0.5s ease;
}
.foods_card_item .card_item_img img:hover {
  scale: 1.2;
}
.card_item_content {
  width: 100%;
  text-align: start;
  background-color: #ffffff;
  padding: 1.3rem;
  line-height: 2rem;
}

.card_item_content .item_location {
  margin: 1.3rem 0 1.3rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.card_item_content .item_location strong {
  margin-left: 0.5rem;
  display: -webkit-box;          
  -webkit-box-orient: vertical;   /* Thiết lập hướng dọc */
  overflow: hidden;               /* Ẩn nội dung tràn */
  text-overflow: ellipsis;        /* Thêm dấu ba chấm cho nội dung tràn */
  -webkit-line-clamp: 1;          /* Giới hạn số dòng hiển thị */
  max-width: 30rem;  
}

.card_item_content .item_location img {
  width: 3rem;
  height: 2rem;
}
.card_item_content .decription{
  text-align: left;
  display: -webkit-box;          
  -webkit-box-orient: vertical;   /* Thiết lập hướng dọc */
  overflow: hidden;               /* Ẩn nội dung tràn */
  text-overflow: ellipsis;        /* Thêm dấu ba chấm cho nội dung tràn */
  -webkit-line-clamp: 3;          /* Giới hạn số dòng hiển thị */
  max-width: 30rem;  
  font-size: 1.2rem;
  font-weight: normal;
}
.btn_view_more {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
}
.btn_view_more:hover{
  opacity: 0.7;
  transition: all 0.4s ease;
}
.btn_view_more img{
  width: 100%;
  height: 2.272rem;

}
.btn_view_more p{
  font-weight: bold;
  color: var(--primary-light-aquamarine);
}
.counter {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.counter.show {
  opacity: 1;
  transform: translateY(0);
}
.text_coutdown {
  display: flex;
  justify-content: center;
}
.coutdown p {
  font-size: 1.6rem;
  color: var(--grey-color);
}

/* Slider  */

.about_container {
  position: relative;
  width: 70%;
  margin: auto;
  height: 40rem;
}

.about_container_text {
  max-width: 42rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3rem;
}
.about_container_text .img_union {
  width: 3rem;
  height: auto;
}
.about_container_text span {
  font-size: 2.4rem;
}
.about_container_text .text {
  margin: 3rem 0 4rem 0;
}
.buttons {
  position: absolute;
  bottom: 10rem;
  left: 0;
  width: 95%;
  display: flex;
  justify-content: start;
}
.buttons button {
  margin: 0.5rem;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  color: #fff;
  border: none;
}
.about_container_img {
  position: absolute;
  right: 0;
  top: 0;
}
.about_container_img img {
  width: 50rem;
}

/* CTA  */
.cta_section {
  background-color: var(--light-aquamarine);
  margin-top: 10rem;
}
.cta_section_container {
  width: 70%;
  margin: auto;
  padding: 5rem 0 5rem 0;
  line-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta_section_container button {
  height: 5rem;
}

/* FOOTER  */
footer {
  padding: 3rem;
  background-color: rgb(0, 75, 105);
}
.footer_container {
  width: 70%;
  margin: auto;
  margin-top: 10rem;
}
.container_menu {
  display: flex;
  justify-content: space-between;
}

.menu_list {
  margin-top: 1rem;
  list-style: none;
  font-size: 1.6rem;
  line-height: 4rem;
  color: var(--grey-color);
}
.menu_product h4 {
  font-size: 2rem;
}

.menu_list_icon img {
  width: 4rem;
  margin: 1rem;
}
